@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navManager
@inherits FragmentNavigationBase


<div class="w-64 bg-gray-100 text-black p-3">
        <div class="flex flex-row justify-between items-center">
            <h1 class="font-semibold text-2xl">Home</h1>
            <svg class="w-6 h-6 flex-none" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            
        </div>
</div>

@* <div class="bg-blue-200 text-black flex-auto">
    
</div> *@




@code
{
    
}